.button-specs {
    background-color: #F2DCD0;
    color: #6A5955;
    border: none;
}

.primary-blue-color {
    color: #384E71;
}

.color-scheme {
    height: 300px;
    background: linear-gradient(90deg, #384E71, #ECC6BB, #A0C9E7, #EFEEEC, #F2DCD0);
}

/* HOMEPAGE STYLES */
.homepage-name {
    font-size: 25px;
    font-weight: 600;
}
.homepage-catchphrase {
    font-size: 40px;
    font-weight: medium;
    padding-bottom: 20px; 
}
.homepage-descriptions {
    font-family: 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
    color: #343436;
    font-size: 20px;
}
.homepage-purpose {
    font-family: 'Raleway', 'Bebas Kai', 'Oswald', sans-serif;
}
.homepage-footer {
    background-color: #F4EBE6;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.homepage-header {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.homepage-body-padding {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.homepage-footer-padding {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.homepage-left-div {
    width: 50%;
    float:left;
    padding-right: 20px;
}
.homepage-right-div {
    margin-left: 50%;
    padding-right:20px;
    padding-left: 20px;
}

