/* GENERAL BUTTON SPECS */
.button-specs {
    background-color: #ECC6BB;
    color: #6A5955;
    border: none;
}

/* GENERAL COLOR STYLES */
.primary-blue-color {
    color: #384E71;
}

.color-scheme {
    height: 300px;
    background: linear-gradient(90deg, #384E71, #ECC6BB, #A0C9E7, #EFEEEC, #F2DCD0);
}

/* HOMEPAGE STYLES */
.homepage-name {
    font-size: 25px;
    font-weight: 600;
}
.homepage-header {
    padding-left: 60px;
    padding-right: 60px;
}
.homepage-catchphrase {
    font-size: 40px;
    font-weight: medium;
    padding-bottom: 20px; 
    color: #384E71;
}
.homepage-image {
    width: 550px;
    height: 400px;
}
.homepage-body-padding {
    padding-left: 60px;
    padding-right: 60px;
}
.homepage-left-div {
    padding-top: 20px;
    width: 50%;
    float:left;
    padding-right: 20px;
}
.homepage-right-div {
    margin-left: 50%;
    padding-right:20px;
    padding-left: 30px;
    margin-bottom: 30px;
}
.homepage-descriptions {
    font-family: 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
    color: #343436;
    font-size: 20px;
}
.homepage-footer {
    background-color: #F4EBE6;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.homepage-footer-padding {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.homepage-purpose {
    font-size: 25px;
    transform:scaleY(1.05);
}

/* MENTOR/MENTEE SIGNUP SPECS */
.signup-form-specs {
    background-color: #F4EBE6;
    color: #6A5955;
    border: none;
}
.signup-button-specs {
    padding-left: 20px;
    padding-right: 20px;
}
.signup-form-fields {
    color: #203851;
    font-family: 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
}
.signup-link-to-home-specs {
    cursor:pointer;
}
.signup-link-to-home-specs:hover {
    text-decoration: underline;
}
.signup-titles {
    font-size: 40px;
    font-weight: medium;
    color: #384E71;
}
.signup-role-description {
    font-family: 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
    color: #343436;
    font-size: 18px;
    padding-bottom: 10px;
}
form {
    max-width: 500px;
    margin: auto;
}