<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMatchup</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const urlParams = new URLSearchParams(window.location.search);
      const name = urlParams.get('name');

      if (name) {
          document.getElementById('chatName').innerText = name;
      }
  });
</script>
<body>

<div class="container my-5">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
      <a class="navbar-brand primary-blue-color homepage-name" href="index.html">MentorMatchup</a>
      <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"><strong>Matches</strong></a>
          <a class="nav-item nav-link" href="contact.html">Contact</a>
      </div>
      <div class="navbar-nav ml-auto">
          <button onclick="window.location.href='profile.html'" class="button-specs btn btn-outline-secondary rounded-pill mr-2">Lauren H</button>
      </div>
   </nav>

    <div class="container mt-3">
      <h3 id="chatName">Default Name</h3>
        <div class="chat-window">
          <div class="message-box left">
            Good question! I use Notion to create a spreadsheet of all jobs I've applied to.
          </div>
          <div class="message-box right">
            I was also wondering what you use to keep track of your job applications?
          </div>
          <div class="message-box left">
            I like to keep track of the name of the company, the position I applied to, the location(s), and my application status! I also sometimes link the company job portal.
          </div>
        </div>
      </div>
      
      <div class="input-group p-3">
        <button class="btn btn-prompt rounded-circle">Conversation Prompt</button>
        <input type="text" class="form-control" placeholder="Start typing...">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-arrow-up"></i></button>
        </div>
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>