<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentee Messages Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<div class="container my-5">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand primary-blue-color" href="index.html">MentorMatchup</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="index.html">Home</a>
            <a class="nav-item nav-link active" href="#">Mentors</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        </div>
        <div class="navbar-nav ml-auto">
            <button onclick="window.location.href='mentorProfile.html'" class="button-specs btn btn-outline-secondary rounded-pill mr-2">Lauren H</button>
        </div>
    </nav>

    <!-- Messages -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="message-box-custom">
                <p class="match-names">Kaitlyn H</p>
                <p class="message-descriptions">Hi Lauren, I’m excited to be your job application mentor this year!</p>
            </div>
            <div class="message-box-custom">
                <p class="match-names">Alex Y</p>
                <p class="message-descriptions">Let’s meet on Tuesday to go through some practice interview questions.</p>
            </div>
            <div class="message-box-custom">
                <p class="match-names">Claudia T</p>
                <p class="message-descriptions">I like to keep track of the name of the company, the position I applied...</p>
            </div>
            <div class="message-box-custom">
                <p class="match-names">Chloe S</p>
                <p class="message-descriptions">Looking forward to meeting tomorrow!</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
