<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentee Messages Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<div class="container-fluid my-5">
    <nav class="homepage-header d-flex justify-content-between align-items-center">
        <span class="homepage-name primary-blue-color">MentorMatchup</span>
        <div>
            <a>Mentors</a>
            <a href="menteeProfile.html" class="button-specs btn btn-outline-secondary rounded-pill">Mentee Profile</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="signup-titles text-center my-4">Mentee Messages Page</h3>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>