<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMatchup Mentee Sign Up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<div class="container-fluid my-5">
    <nav class="homepage-header d-flex justify-content-between align-items-center">
        <span class="homepage-name primary-blue-color signup-link-to-home-specs" onclick="redirectToHomepage()">MentorMatchup</span>
        <div>
            <a href="signin.html" class="button-specs btn btn-outline-secondary rounded-pill">Sign In</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="homepage-catchphrase text-center my-4">Mentee Sign Up</h3>
            <h4 class="signup-role-description text-center">Do you want advice from an experienced student on the<br> job/internship application process?</h4>
            <h4 class="signup-role-description text-center">Our platform connects you with mentors who have worked in the<br> <strong>field</strong> you are interested in and has worked with <strong>companies</strong> you<br> are curious about. Learn more about applying to jobs, interviewing,<br> and selecting the job that's right for you.</h4>
            <h4 class="signup-role-description text-center">Sign up to connect with students in your <strong>campus community</strong><br> that will help you achieve your career goals!</h4>
            <!-- MENTEE SIGNUP FORM -->
            <form id="menteeSignupForm" onSubmit="return validatePassword('mentee', event)">
                <!-- NAME -->
                <div class="form-group">
                    <input type="text" class="form-control signup-form-specs signup-form-fields" placeholder="Name" id="name">
                </div>
                <!-- EMAIL -->
                <div class="form-group">
                    <input type="email" class="form-control signup-form-specs signup-form-fields" placeholder="Email" id="email">
                </div>
                <!-- PASSWORD -->
                <div class="form-group">
                    <input type="password" class="form-control signup-form-specs signup-form-fields" placeholder="Password" id="password">
                </div>
                <!-- CONFIRM PASSWORD -->
                <div class="form-group">
                    <input type="password" class="form-control signup-form-specs signup-form-fields" placeholder="Confirm Password" id="confirm-password">
                </div>
                <!-- SCHOOL -->
                <div class="form-group">
                    <select class="form-control signup-form-specs signup-form-fields" id="school" onchange="toggleOtherOption(id)">
                        <option value="" selected disabled>School</option>
                        <option>BC</option>
                        <option>SEAS</option>
                        <option>CC</option>
                        <option>GS</option>
                        <option value="other">Other</option>
                    </select>
                    <input type="text" class="form-control signup-form-specs signup-form-fields" placeholder="Enter your option" id="other-school" style="display: none;">
                </div>
                <!-- MAJOR -->
                <div class="form-group">
                    <select class="form-control signup-form-specs signup-form-fields" id="major" onchange="toggleOtherOption(id)">
                        <option value="" selected disabled>Major</option>
                        <option>Computer Science</option>
                        <option>Economy</option>
                        <option>Math</option>
                        <option value="other">Other</option>
                    </select>
                    <input type="text" class="form-control signup-form-specs signup-form-fields" placeholder="Enter your option" id="other-major" style="display: none;">
                </div>
                <!-- YEARS OF EXPERIENCE -->
                <div class="form-group">
                    <select class="form-control signup-form-specs signup-form-fields" id="years-of-experience">
                        <option value="" selected disabled>Years of Experience</option>
                        <option>0-1</option>
                        <option>1-2</option>
                        <option>2-3</option>
                        <option>3+</option>
                    </select>
                </div>
                <!-- JOB TYPE APPLYING TO -->
                <div class="form-group">
                    <select class="form-control signup-form-specs signup-form-fields" id="jobs-of-interest" onchange="toggleOtherOption(id)" multiple>
                        <option value="" selected disabled>Jobs You're Applying to (Ctrl/Cmd to select multiple)</option>
                        <option>Internships</option>
                        <option>Full-Time</option>
                        <option>Research</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <!-- OTHER JOBS YOU'RE APPLYING TO -->
                <div class="form-group" id="other-jobs" style="display: none;">
                    <input type="Other Jobs You're Applying to" class="form-control signup-form-specs signup-form-fields" placeholder="Other Jobs You're Applying To">
                </div>
                <!-- COMPANIES OF INTEREST -->
                <div class="form-group">
                    <select class="form-control signup-form-specs signup-form-fields" id="companies-of-interest" onchange="toggleOtherOption(id)" multiple>
                        <option value="" selected disabled>Companies of Interest (Ctrl/Cmd to select multiple)</option>
                        <option>Amazon</option>
                        <option>Apple</option>
                        <option>Cidadel</option>
                        <option>Fidelity</option>
                        <option>Goldman Sachs</option>
                        <option>Google</option>
                        <option>IBM</option>
                        <option>Jane Street</option>
                        <option>JPMorgan</option>
                        <option>Meta</option>
                        <option>Microsoft</option>
                        <option>Netflix</option>
                        <option>Oracle</option>
                        <option>Roblox</option>
                        <option>Salesforce</option>
                        <option>Splunk</option>
                        <option>Tesla</option>
                        <option>Vanguard</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <!-- OTHER COMPANIES OF INTEREST -->
                <div class="form-group" id="other-companies-group" style="display: none;">
                    <input type="Other Companies of Interest" class="form-control signup-form-specs signup-form-fields" placeholder="Other Companies of Interest">
                </div>
                <script>

                    function toggleOtherOption() {
                        var selectElement = document.getElementById("companies-of-interest");
                        var otherCompaniesGroup = document.getElementById("other-companies-group");
                
                        var otherOption = document.querySelector('#companies-of-interest option[value="other"]');
                        
                        if (otherOption.selected) {
                            otherCompaniesGroup.style.display = "block";
                        } else {
                            otherCompaniesGroup.style.display = "none";
                        }

                        var selectElement = document.getElementById("jobs-of-interest");
                        var otherJobsGroup = document.getElementById("other-jobs");
                
                        var otherOption = document.querySelector('#jobs-of-interest option[value="other"]');
                        
                        if (otherOption.selected) {
                            otherJobsGroup.style.display = "block";
                        } else {
                            otherJobsGroup.style.display = "none";
                        }
                    }
                </script>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline-secondary rounded-pill button-specs signup-button-specs">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>