<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<div class="container my-5">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand primary-blue-color homepage-name" href="index.html">MentorMatchup</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"><strong>Matches</strong></a>
            <a class="nav-item nav-link" href="contact.html">Contact</a>
        </div>
        <div class="navbar-nav ml-auto">
            <button onclick="window.location.href='profile.html'" class="button-specs btn btn-outline-secondary rounded-pill mr-2">Lauren H</button>
        </div>
    </nav>

    <!-- Messages -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="message-box-custom">
                <p class="match-names">Jessica S</p>
                <p class="message-descriptions">Hi! I'm Jessica. Nice to meet you!</p>
                <button class="message-button btn btn-primary" onclick="redirectToChat('Jessica S')">Message</button>
            </div>
            <div class="message-box-custom">
                <p class="match-names">Soph L</p>
                <p class="message-descriptions">Hi! I'm Soph. Nice to meet you!</p>
                <button class="message-button btn btn-primary" onclick="redirectToChat('Soph L')">Message</button>
            </div>
            <div class="message-box-custom">
                <p class="match-names">Cece H</p>
                <p class="message-descriptions">Hi! I'm Cece. Nice to meet you!</p>
                <button class="message-button btn btn-primary" onclick="redirectToChat('Cece H')">Message</button>
            </div>
            <div class="message-box-custom">
                <p class="match-names">Maddie D</p>
                <p class="message-descriptions">Hi! I'm Maddie. Nice to meet you!</p>
                <button class="message-button btn btn-primary" onclick="redirectToChat('Maddie D')">Message</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
