<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMatchup Sign In</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<div class="container-fluid my-5">
    <nav class="homepage-header d-flex justify-content-between align-items-center">
        <span class="homepage-name primary-blue-color signup-link-to-home-specs signup-link-to-home-specs:hover" onclick="redirectToHomepage()">MentorMatchup</span>
    </nav>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="signup-titles text-center my-4">Sign In Page</h3>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary rounded-pill button-specs signup-button-specs" onclick="redirectToMenteeMessages()">Sign In as Mentee</button>
    <button type="submit" class="btn btn-outline-secondary rounded-pill button-specs signup-button-specs" onclick="redirectToMentorMessages()">Sign In as Mentor</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>