<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMatchup Sign In</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>
<body>

<div class="container-fluid my-5">
    <nav class="homepage-header d-flex justify-content-between align-items-center">
        <span class="homepage-name primary-blue-color signup-link-to-home-specsZ" onclick="redirectToHomepage()">MentorMatchup</span>
    </nav>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="homepage-catchphrase text-center my-4">Sign In</h3>
            <!-- EMAIL -->
            <div class="form-group">
                <input type="email" class="form-control signup-form-specs signup-form-fields" placeholder="Email" id="email">
            </div>
            <!-- PASSWORD -->
            <div class="form-group">
                <input type="password" class="form-control signup-form-specs signup-form-fields" placeholder="Password" id="password">
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-outline-secondary rounded-pill button-specs signup-button-specs" onclick="redirectToMenteeMessages()">Sign In</button>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>